.App {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color : black;

    padding-right: 15px;
    padding-left: 15px;


}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
